@CHARSET "UTF-8";

.page {
    background-image: url("codbackground.jpg");
    

}

h1 {
    color:black;
    font-family:Impact;
    border:2px solid white;
}
.heading {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    background-color:#595959;
    text-align:center;
    font-family:Impact;
}

#trailer {
    display:block;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:1000px;
}

.button {
    font-family:Impact;
    background-color: #595959;
    border:2px solid white;
    display:inline-block;
    margin-top:25px;
    margin-left:10px;
    padding: 5px 10px;
    text-align: center;
    width:200px;
}

.button-link, .button-link:visited, .button-link:active {
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    text-decoration: underline overline wavy black;
}

.button-link:hover {
    color: #000000;
}

.links{
    text-align:center;
}